.wrapper {
  margin: 0 auto;
}

.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-evenly;
  }

  .footer-social {
    list-style: none;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 11px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  
.fb {
    color: #f2c944;
    font-family: "SelawikRegular", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 0;
  }
